
.flowers-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}
.flowers-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    grid-gap: 20px;
   
}
.flower-calculation{
    background-color: rgb(255, 196, 196);
    text-align: center;
    margin-top: 45px;
    padding: 20px;
    color: rgb(3, 3, 3);
}
.button{
    background-color: rgb(3, 37, 110);
    color: rgb(255, 234, 0);
    border: none;
    font-size: 20px;
}
.button:hover{
    background-color: brown;
    color: white;
}
