
.flowers-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}
.flowers-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    grid-gap: 20px;
   
}
.flower-calculation{
    background-color: rgb(255, 186, 101);
    text-align: center;
    margin-top: 45px;
    padding: 20px;
}